*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

label{
  display: block;
  margin-top: 12px;
  margin-bottom: 6px;
}

.add-form{
  background-color: aquamarine;
  padding: 20px;
}

.add-form input,
.add-form select{
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid black;
}

.add-form button{
  width: 100%;
  border-radius: 6px;
  padding: 12px;
  background-color: #4CAF50;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  color: white;
}

table, tr,th,td{
  border: 1px solid black;
  border-collapse: collapse;
}

th,td{
  padding: 10px;
}

.data-table{
  background-color: #4CAF50;
  padding: 20px;
}

.react-responsive-modal-modal{
  width: 600px;
}

.react-responsive-modal-modal form{
  width: 100%;
  padding: 30px;
}
.react-responsive-modal-modal form input,
.react-responsive-modal-modal form select{
  width: 100%;
  padding: 10px;
}
.react-responsive-modal-modal button{
  width: 100%;
  padding: 10px;
  margin-top: 14px;
}
.quizz-container{
  text-align: center;
  padding: 60px;
}

.quizz-container > button{
  padding: 15px 60px;
}