*{
  list-style: none;
  padding: 0;
}
.page{
  padding: 20px;
  background-color: red;
  text-align: center;
  font-size: 40px;
}

.footer{
  padding: 30px 0;
  text-align: center;
  background-color: aqua;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 40px;

}

ul {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  gap: 20px;
  font-size: 22px;
}
.navs{
  color: black;
  text-decoration: none;
}

.active-nav{
  color: red;
  text-decoration: underline;
}